.body{
    text-align: center;
}
.me{
    text-align: center;
}
.projects{
    text-align: center;
}
.contact{
    text-align: center;
}
.download{
    text-align: center;
}
.button{
    height: 200px;
    position: relative; left: 695px;
}
