.header{
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    text-align: center;
    background-image: url('/static/3.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    font-family: Arial, Helvetica, sans-serif;
}
.me{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.projects{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.download{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
    text-decoration: none;
    color: black;
    padding: 3px;
}
.thank{
    text-align: center;
}
.thank2{
    text-align: center;
}
.home{
    text-decoration: none;
    color: black;
}
.cert1{
    flex: auto;
    height: 50%;
    width: 50%;
}