.body{
    text-align: center;
    color: whitesmoke;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.me{
    text-align: center;
}
.projects{
    text-align: center;
}
.contact{
    text-align: center;
}
.download{
    text-align: center;
}
.btn1{
    text-decoration: none;
    color: black;
    padding: 3px;
}
