<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width,initial-scale=1" name="viewport">
  	<meta content="description" name="description">
  	<meta name="google" content="notranslate" />
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Portfolio Site: Data</title>
</head>
	<body>
		<header class='header'>
			
		  </header>
		<div class="data">
            <ul>TEST DATA
				<li></li>
			</ul>
		</div><br>
		<script src='static/script.js'></script>
	</body>
</html>