<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width,initial-scale=1" name="viewport">
  	<meta content="description" name="description">
  	<meta name="google" content="notranslate" />

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Server Site</title>
</head>
	<body>
		<div id="body">
		Just a server . . .<br>
		This is just a basic server test site.<br>
		{{4 + 5}}
		<script src='static/script.js'></script>
		</div>
		<div id="button">
			<button onclick="myFunction()">Click to RUN</button>
		</div>
		<div id="button2">
			<button><a href="page2.html">Click to Advance</a></button>
		</div>
	</body>
</html>