<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width,initial-scale=1" name="viewport">
  	<meta content="description" name="description">
  	<meta name="google" content="notranslate" />

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Portfolio Site</title>
</head>
		<header class='header'>
			<div class="collapse navbar-collapse" id="navbar-collapse-uarr">
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="./index.html" title="" class="active">Home</a></li>
					<li><a href="./about.html" title=""> About</a></li>
					<li><a href="./projects.html" title=""> Projects </a></li>
					<li><a href="./contact.html" title="">Contact</a></li>
					<li><a href="./download.html" class="btn btn-primary" title="">Download</a>
					  </p>
					</li>	
				  </ul>
				</div>
			  </div>
			</nav>
		  </header><br>
	<body>
		<div class="body" id="body">
			<div id='button' class="button">
				<button onclick="myFunction()">Click to run test program</button>
			</div><br>
		<p>Useless Facts</p>
			Rubber bands last longer when refrigerated.<br>
			No number from one to 999 includes the letter “a” in its word form.<br>
			Edgar Allan Poe married his 13-year-old cousin.<br>
			Jupiter is twice as large as all the other planets combined.<br>
			The Super Soaker was designed and invented by a NASA engineer.<br>
			Flamingos can only eat with their heads upside down.<br>
			Salt used to be a currency.<br>
			Alaska is the only state whose name is on one row on a keyboard.<br>
			There are only four words in the English language which end in “dous”: tremendous, horrendous, stupendous, and hazardous.<br>
			There are 32 muscles in a cat’s ear.<br>
			The chicken and the ostrich are the closest living relatives of the Tyrannosaurus rex.<br>
			Junk food is as addictive as drugs.<br>
			The largest bill to go into circulation in the United States was a $10,000 note.<br>
			In most advertisements, including newspapers, the time displayed on a watch is 10:10.<br>
			A cubic inch of human bone can bear the weight of five standard pickup trucks. <br>
			<br><br><p>Even More Useless Facts</p>
			Oreo has made enough cookies to span five back and forth trips to the moon.<br>
			Dr. Seuss invented the word “nerd.”<br>
			A giraffe can go longer without water than a camel can.<br>
			Due to a genetic defect, cats can’t taste sweet things.<br>
			Queen Elizabeth II is a trained mechanic.<br>
			Cap’n Crunch’s full name is Captain Horatio Magellan Crunch.<br>
			Al Capone’s business card said he was a used furniture dealer.<br>
			The average American spends about 2.5 days a year looking for lost items.<br>
			Apple seeds contain cyanide.<br>
			The only real person to be a Pez head was Betsy Ross.<br>
			Montpelier, Vermont, is the only U.S. capital without a McDonald’s.<br>
			There’s a city called “Rome” on every continent except Antarctica.<br>
			There are around 16 million people alive today that are direct descendants of Genghis Khan.<br>
			Peanuts are one of the ingredients of dynamite.<br>
			Your body contains about 100,000 miles of blood vessels.<br>
			Alfred Hitchcock didn’t have a bellybutton.<br>
			A blob of toothpaste is called a nurdle.<br>
			If you plug your nose, you can’t tell the difference between an apple, a potato, and an onion.<br>
			Most babies are conceived in December.<br>
			A group of hippos is called a bloat.<br>
		</div><br>
		<script src='static/script.js'></script>
	</body>
</html>