<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width,initial-scale=1" name="viewport">
  	<meta content="description" name="description">
  	<meta name="google" content="notranslate" />

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Portfolio Site: Projects</title>
</head>
		<header class='header'>		  
				<div class="collapse navbar-collapse" id="navbar-collapse-uarr">
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="./" title="" class="active">Home</a></li>
					<li><a href="./about.html" title=""> About</a></li>
					<li><a href="./projects.html" title=""> Projects </a></li>
					<li><a href="./contact.html" title="">Contact</a></li>
					<li><a href="./download.html" class="btn btn-primary navbar-btn" title="">Download</a>
					  </p>
					</li>	
				  </ul>
				</div>
		  </header><br>
	<body class="body">
		<div class="projects">
		<h1>Current Projects</h1>
			<ul>
				<li>Inventory System for Warner Audio Visual</li><br>
				<li>Open source project</li><br>
				<li>Open source project</li><br>
				<li>Open source project</li><br>
				<li>Open source project</li><br>
				<li>Open source project</li><br>
			</ul>
		</div><br>
		<script src='static/script.js'></script>
	</body>
</html>